py-tgcalls
kymang==2.0.2
git+https://github.com/naya1503/pyrogram
tgcrypto
pytz
psutil
dnspython==2.3.0
python-dotenv
GitPython
pykeyboard
bs4
pymediainfo
opencv-python-headless
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod==1.1
openai
youtube-search-python
yt-dlp
wget
python-dateutil
emoji
search_engine_parser
httpx[http2]
httpx
pytimeparse
flask
flask_restful
uvloop
Pillow==8.3.2
motor==3.0.0
requests
meval
speedtest-cli